{
  "root": true,
  "env": {
    "node": true
  },
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser"
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:vue/vue3-recommended",
    "@vue/typescript/recommended",
    "prettier"
  ],
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "check-file"
  ],
  "rules": {
    "prettier/prettier": "error",
    "check-file/no-index": "error",
    "check-file/folder-naming-convention": [
      "error",
      {
        "src/*/": "CAMEL_CASE"
      }
    ],
    "check-file/filename-naming-convention": [
      "error",
      {
        "src/components/*.vue": "PASCAL_CASE",
        "src/composables/*.ts": "CAMEL_CASE",
        "src/data/*.json": "SNAKE_CASE",
        "src/helpers/*.ts": "CAMEL_CASE",
        "src/services/*.ts": "PASCAL_CASE"
      }
    ]
  }
}